    div {
        border:10px solid olive;
        padding:20px;
        width:50px;
        top: 120px;
        background-color: bisque;
        position:sticky;


    }
    div2{
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: darkorange;


    }
    div3{
      position: absolute;
      top: 40px;
      left: 40px;
      background-color: crimson;
    }
